<% provide(:title, 'About') %>

<h1 style="font-size: 2em">About</h1>

<div class='round' style="background-image:url('images/about.jpg');padding:30px;">
  <div class="round" style="background-color:#fff;padding:30px;width:300px;">
  <h3 style="color:#0073EA;">The website is built by Xie Guangzhi (Frank).</h3> 
  <h3 style="margin-top:20px;margin-bottom:20px;color:#FF0084;">You can contact me for:</h3>
  <ul style="margin-bottom:20px;">
    <li class="edu_li">Similar website development</li>
    <li class="edu_li">Web design</li>
    <li class="edu_li">Mobile app development</li>
    <li class="edu_li">Lightweight Enterprise Resource Planning development</li>
    <li class="edu_li">Partnership</li>
    <li class="edu_li">Job offering</li>
  </ul> 
  
  <a href="mailto:frankxgz@gmail.com?subject=Web_Enquiry" target="_blank" class="btn btn-large btn-primary">Contact me now</a>
  </div>
  
</div>