<% provide(:title, 'Education') %>
<script>
	$(function() {
		$( "#accordion" ).accordion({ event: 'click' });
	});
</script>



<div id="accordion" style="position:relative;top:-5px;">
	<h3><a href="#">University</a></h3>
	<div>
    <h2>National University of Singapore</h2>
	</div>
	<h3><a href="#">High School</a></h3>
	<div>
		<h2>Chongqing Nankai Middle School</h2> 
	</div>
	<h3><a href="#">Junior Middle School</a></h3>
	<div>
		<h2>Chongqing Nankai Middle School</h2>
	</div>
	<h3><a href="#">Primary School</a></h3>
	<div>
		<h2>Chang'an 3rd Primary School</h2> 
	</div>
	
</div>

