<% provide(:title, 'Education') %>
<script>
	$(function() {
		$( "#accordion" ).accordion({ event: 'click' });
	});
</script>



<div id="accordion" style="position:relative;top:-5px;">
	<h3><a href="#">University</a></h3>
	<div>
    <div class="edu_left">
      <a href="http://www.nus.edu.sg" target="_blank"><h2>National University of Singapore</h2></a>
      <ul>
        <li class="edu_li">Bachelor of Computing (Hons)</li>
        <li class="edu_li">Major: Information Systems</li>
        <li class="edu_li">Full Government Scholarship</li>
      </ul>
    </div>
    <div class="edu_right">
      <span class="edu_year">2009 - 2013</span>
      <div class="imageRow">
      	<div class="set">
      	  <div class="single first">
      		  <a href="images/nus1.jpg" rel="lightbox[nus]" title="Nankai"><img src="images/nus1-thumb.jpg" alt="Plants: image 1 0f 3 thumb" width="89"/></a>
      		</div>
          <div class="single">
      		  <a href="images/nus2.jpg" rel="lightbox[nus]" title="Nankai" ><img src="images/nus2-thumb.jpg" alt="Plants: image 2 0f 3 thumb" width="89"/></a>
          </div>
          <div class="single last">
      		  <a href="images/nus3.jpg" rel="lightbox[nus]" title="Nankai"><img src="images/nus3-thumb.jpg" alt="Plants: image 3 0f 2 thumb" width="89"/></a>
          </div>
      	</div>
      </div>
    </div>
	</div>
	
	<h3><a href="#">High School</a></h3>
	<div>
	  <div class="edu_left">
		  <a href="http://www.cqnk.cq.cn/" target="_blank"><h2>Chongqing Nankai Middle School</h2></a>
		  <ul>
        <li class="edu_li">Founded in 1936 by the famous educator  Mr. Zhang Boling</li>
        <li class="edu_li">One of the key middle schools in China</li>
        <li class="edu_li">Covers an area of 362 mus  (24 hectares)</li>
      </ul>
		</div>
		<div class="edu_right">
		  <span class="edu_year">2005 - 2008</span>
		  <div class="imageRow">
      	<div class="set">
      	  <div class="single first">
      		  <a href="images/1.jpg" rel="lightbox[nk]" title="Nankai"><img src="images/1-thumb.jpg" alt="Plants: image 1 0f 3 thumb" width="89"/></a>
      		</div>
          <div class="single">
      		  <a href="images/2.jpg" rel="lightbox[nk]" title="Nankai" ><img src="images/2-thumb.jpg" alt="Plants: image 2 0f 3 thumb" width="89"/></a>
          </div>
          <div class="single last">
      		  <a href="images/3.jpg" rel="lightbox[nk]" title="Nankai"><img src="images/3-thumb.jpg" alt="Plants: image 3 0f 2 thumb" width="89"/></a>
          </div>
      	</div>
      </div>
		</div>
	</div>
	
	<h3><a href="#">Junior Middle School</a></h3>
	<div>
		<div class="edu_left">
		  <a href="http://www.cqnk.cq.cn/" target="_blank"><h2>Chongqing Nankai Middle School</h2></a>
		  <ul>
        <li class="edu_li">Founded in 1936 by the famous educator  Mr. Zhang Boling</li>
        <li class="edu_li">One of the key middle schools in China</li>
        <li class="edu_li">Covers an area of 362 mus  (24 hectares)</li>
      </ul>
		</div>
		<div class="edu_right">
		  <span class="edu_year">2002 - 2005</span>
		  <div class="imageRow">
      		<div class="set">
        	  <div class="single first">
        		  <a href="images/1.jpg" rel="lightbox[nk2]" title="Nankai"><img src="images/1-thumb.jpg" alt="Plants: image 1 0f 3 thumb" width="89"/></a>
        		</div>
            <div class="single">
        		  <a href="images/2.jpg" rel="lightbox[nk2]" title="Nankai" ><img src="images/2-thumb.jpg" alt="Plants: image 2 0f 3 thumb" width="89"/></a>
            </div>
            <div class="single last">
        		  <a href="images/3.jpg" rel="lightbox[nk2]" title="Nankai"><img src="images/3-thumb.jpg" alt="Plants: image 3 0f 2 thumb" width="89"/></a>
            </div>
        	</div>
      </div>
		</div>
	</div>
	
	<h3><a href="#">Primary School</a></h3>
	<div>
	  <div class="edu_left">
		  <h2>Chang'an 3rd Primary School</h2> 
		</div>
		<div class="edu_right">
		  <span class="edu_year">1996 - 2002</span>
		</div>
	</div>
	
</div>

