<% provide(:title, 'Home') %>
<div class="left hero-unit">
  <h1>Welcome</h1>

  <h2>
    This is Xie Guangzhi's Personal Website
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>