<% provide(:title, 'Skills') %>
<h1 style="font-size: 2em">My Skill Set</h1>

<script src="js/jquery.tagcanvas.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        if(!$('#myCanvas').tagcanvas({
          textColour: '#0099FF',
          outlineColour: 'whiteSmoke',
          reverse: true,
          depth: 0.8,
          maxSpeed: 0.05
        },'tags')) {
          // something went wrong, hide the canvas container
          //$('#myCanvasContainer').hide();
        }
        if(!$('#myCanvas2').tagcanvas({
          textColour: '#FF0084',
          outlineColour: 'whiteSmoke',
          reverse: true,
          depth: 0.8,
          maxSpeed: 0.05
        },'tags2')) {
          // something went wrong, hide the canvas container
          //$('#myCanvasContainer').hide();
        }
      });
    </script>


    <div id="myCanvasContainer" class="round" style="background-color:whiteSmoke;padding-left:140px;">
      <canvas width="300" height="300" id="myCanvas" style="float:left;">
        <p>Sorry, your browser does not support the canvas element. This website is best viewed with Chrome, Safari and FireFox.</p>
      </canvas>
      <canvas width="300" height="300" id="myCanvas2" style="margin-left:80px;">
        <p></p>
      </canvas>
    </div>
    <div id="tags">
      <ul>
        <li><a href="">Java EE</a></li>
        <li><a href="">JavaScript</a></li>
        <li><a href="">HTML</a></li>
        <li><a href="">CSS</a></li>
        <li><a href="">Appcelerator</a></li>
        <li><a href="">Ruby on Rails</a></li>
        <li><a href="">Google Maps V3</a></li>
        <li><a href="">PHP</a></li>
        <li><a href="">SQL</a></li>
        <li><a href="">C</a></li>
        <li><a href="">C++</a></li>
        <li><a href="">C#</a></li>
        <li><a href="">Java</a></li>
        <li><a href="">OpenGL</a></li>
        <li><a href="">Photoshop</a></li>
        <li><a href="">Illustrator</a></li>
        <li><a href="">GlassFish</a></li>
        <li><a href="">Apache Tomcat</a></li>
        <li><a href="">Spring</a></li>
        <li><a href="">Hibernate</a></li>
        <li><a href="">Microsoft Office</a></li>
        <li><a href="">JSP</a></li>
        <li><a href="">JSF</a></li>
        <li><a href="">Servlet</a></li>
      </ul>
    </div>
    
    <div id="tags2">
      <ul>
        <li><a href="">English</a></li>
        <li><a href="">Chinese</a></li>
        <li><a href="">Client oriented</a></li>
        <li><a href="">Personal Branding</a></li>
        <li><a href="">Teamwork</a></li>
        <li><a href="">Ownership</a></li>
        <li><a href="">Fast learning ability</a></li>
        <li><a href="">Responsibility</a></li>
        <li><a href="">Punctuality</a></li>
        <li><a href="">Creative</a></li>
        <li><a href="">Effectiveness</a></li>
        <li><a href="">Efficiency</a></li>
      </ul>
    </div>