<% provide(:title, 'Experience') %>
<section class="round">
  <h1 style="font-size: 2em">Work Experience</h1>
  
  <div class = "work_container round">
    <div class = "work_photo">
      <img src="http://a1.sphotos.ak.fbcdn.net/hphotos-ak-snc7/295710_266427046721286_216447918385866_914810_1129542014_n.jpg" height="116px" width="190px">
    </div>
    <div class = "work_content">
      <a href="http://www.facebook.com/note.php?note_id=266742023356455" target="_parent">
        <h3>Bank of America Merrill Lynch</h3>
        吴哥就在那里,几百年几万日.时间与它相比,如此渺小.它不说话,静静得望着等着人类,可是人类又何尝不渺小
      </a>
    </div>
  </div>
  
  <div class = "work_container round">
    <div class = "work_photo">
      <img src="http://a4.sphotos.ak.fbcdn.net/hphotos-ak-ash4/317482_266747520022572_216447918385866_916065_308338108_n.jpg" height="116px" width="190px">
    </div>
    <div class = "work_content">
      <a href="http://www.facebook.com/note.php?note_id=266762580021066" target="_parent">
        <h3>Chiang Mai</h3>
       The city is rich with culture left over from the ancient kingdom of Lanna, to date, the city is surrounded by a moat and a defensive wall
        <p>Read more...</p>
      </a>
    </div>
  </div>
  
  <div class = "work_container round">
    <div class = "work_photo">
      <img src="http://a2.sphotos.ak.fbcdn.net/hphotos-ak-ash4/301203_266760010021323_216447918385866_916098_395374003_n.jpg" height="116px" width="190px">
    </div>
    <div class = "work_content">
      <a href="http://www.facebook.com/note.php?note_id=266753260021998" target="_parent">
        <h3>马来西亚</h3>
       在马六甲街头,感受各种文化的融合.这是一座相对安静的城市.没有新加坡的繁华拥挤,没有吉隆坡的疯狂嘈杂.即使各地游客不断,仍觉它泰然自处
        <p>Read more...</p>
      </a>
    </div>
  </div>
  
  
  <a href="http://www.facebook.com/TransWindTravel?v=app_20678178440" target="_parent"> Try our survey here!</a>
  
</section>