@import "bootstrap";

/* universal */

html {
  overflow-y: auto;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.left h1{
  margin-bottom:20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.7em;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* Round corners */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.round_small {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

/*min*/
div.work_container{
  height:150px;
  margin-bottom:15px;
  padding:15px;
  background-color:#BCBEC0;
}

div.work_photo{
  position:relative;
  float:left;
  border:solid white 3px;
  height:142px;
  width:190px;
}

div.work_content{
  position:relative;
  float:right;
  display:block;
  white-space:break-word;
  color:#fff;
  height:120px;
  width:230px;
  font-size:0.8em;
}

div.work_content h3{
  color:#fff;
  font-size:1.5em;
}

div.work_content a {
  color: #fff;
  text-decoration: none;
}

div.work_content a:hover {
  color: #fff;
  text-decoration: underline;
}

div.work_content a:visited {
  color: #fff;
}
