<% provide(:title, '关于') %>

<h1 style="font-size: 2em">关于</h1>

<div class='round' style="background-image:url('images/about.jpg');padding:30px;">
  <div class="round" style="background-color:#fff;padding:30px;width:300px;">
  <h3 style="color:#0073EA;">此网站由谢光之（Frank）独立开发.</h3> 
  <h3 style="margin-top:20px;margin-bottom:20px;color:#FF0084;">如有以下事宜请联系我:</h3>
  <ul style="margin-bottom:20px;">
    <li class="edu_li">类似网站开发</li>
    <li class="edu_li">网页设计</li>
    <li class="edu_li">移动应用开发</li>
    <li class="edu_li">轻量级企业信息系统开发</li>
    <li class="edu_li">合作伙伴</li>
    <li class="edu_li">职位提供</li>
  </ul> 
  
  <a href="mailto:frankxgz@gmail.com?subject=Web_Enquiry" target="_blank" class="btn btn-large btn-primary">联系我</a>
  </div>
  
</div>