<% provide(:title, '学历') %>
<script>
	$(function() {
		$( ".accordion" ).accordion({ event: 'click' });
	});
</script>

<h1 style="font-size: 2em">大学</h1>
<div class="accordion" style="position:relative;top:-5px;">
	<h3><a href="#">概况</a></h3>
	<div>
    <div class="edu_left">
      <a href="http://www.nus.edu.sg" target="_blank"><h2>新加坡国立大学</h2></a>
      <ul>
        <li class="edu_li">计算机荣誉学士学位</li>
        <li class="edu_li">主修信息系统</li>
        <li class="edu_li">全额政府奖学金</li>
      </ul>
    </div>
    <div class="edu_right">
      <span class="edu_year">2009 - 2013</span>
      <div class="imageRow">
      	<div class="set">
      	  <div class="single first">
      		  <a href="images/nus1.jpg" rel="lightbox[nus]" title="NUS"><img src="images/nus1-thumb.jpg" alt="image 1 0f 3 thumb" width="89"/></a>
      		</div>
          <div class="single">
      		  <a href="images/nus2.jpg" rel="lightbox[nus]" title="NUS" ><img src="images/nus2-thumb.jpg" alt="image 2 0f 3 thumb" width="89"/></a>
          </div>
          <div class="single last">
      		  <a href="images/nus3.jpg" rel="lightbox[nus]" title="NUS"><img src="images/nus3-thumb.jpg" alt="image 3 0f 3 thumb" width="89"/></a>
          </div>
      	</div>
      </div>
    </div>
	</div>
	
	<h3><a href="#">主要课程</a></h3>
	<div>
	  <table style="margin-top:20px;">
	    <tr>
        <td><span class="ui-icon ui-icon-circle-check"></span></td>
        <td>企业ERP系统</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><span class="ui-icon ui-icon-circle-check"></span></td>
        <td>IT与客户关系管理</td></td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><span class="ui-icon ui-icon-circle-check"></span></td>
        <td>信息系统开发项目</td>
      </tr>
      <tr>
        <td><span class="ui-icon ui-icon-circle-check"></span></td>
        <td>信息系统管理</td><td></td>
        <td><span class="ui-icon ui-icon-circle-check"></span></td>
        <td>IT与供应链管理</td><td></td>
        <td><span class="ui-icon ui-icon-circle-check"></span></td>
        <td>服务科学</td>
      </tr>
      <tr>
        <td><span class="ui-icon ui-icon-circle-check"></span></td>
        <td>金融会计学</td><td></td>
        <td><span class="ui-icon ui-icon-circle-check"></span></td>
        <td>经济学原理</td><td></td>
        <td><span class="ui-icon ui-icon-circle-check"></span></td>
        <td>商务沟通技巧</td>
      </tr>
      <tr>
        <td><span class="ui-icon ui-icon-circle-check"></span></td>
        <td>操作系统</td><td></td>
        <td><span class="ui-icon ui-icon-circle-check"></span></td>
        <td>计算机网络</td><td></td>
        <td><span class="ui-icon ui-icon-circle-check"></span></td>
        <td>计算机图形</td>
      </tr>
	  </table>
	</div>
	
	<h3><a href="#">社会活动</a></h3>
	<div>
	  <h4>King Edward VII Hall 心谣</h4>
	  <p style="color:#999;font-size:1em;">制作总监</p>
	  
	  <h4>国大华会宣传部</h4>
	  <p style="color:#999;font-size:1em;">副编辑</p>
	  
	  <h4>国大书法社</h4>
	  <p style="color:#999;font-size:1em;">指导</p>
	  
	  <h4>国大中文辩论队</h4>
	  <p style="color:#999;font-size:1em;">队员</p>
	  
	  <h4>YMCA儿童发展中心书法教育</h4>
	  <p style="color:#999;font-size:1em;">志愿者教师</p>
	  
	  <h4>心情溶剂新加坡马来西亚中文词曲创作大赛筹办与组办委员会</h4>
	  <p style="color:#999;font-size:1em;">委员</p>
	  
	  <h4>King Edward VII Hall游泳队</h4>
	  <p style="color:#999;font-size:1em;">队员</p>
	</div>
	
</div>

<h1 style="font-size: 2em;margin-top:20px;">高中</h1>
<div class="accordion" style="position:relative;top:-5px;">
	<h3><a href="#">概况</a></h3>
  <div>
    <div class="edu_left">
  	  <a href="http://www.cqnk.cq.cn/" target="_blank"><h2>重庆南开中学</h2></a>
  	  <ul>
        <li class="edu_li">由知名教育家张伯苓先生于1936年创办</li>
        <li class="edu_li">中国重点中学</li>
        <li class="edu_li">占地约24公顷</li>
      </ul>
  	</div>
  	<div class="edu_right">
  	  <span class="edu_year">2005 - 2008</span>
  	  <div class="imageRow">
      	<div class="set">
      	  <div class="single first">
      		  <a href="images/1.jpg" rel="lightbox[nk]" title="Nankai"><img src="images/1-thumb.jpg" alt="image 1 0f 3 thumb" width="89"/></a>
      		</div>
          <div class="single">
      		  <a href="images/2.jpg" rel="lightbox[nk]" title="Nankai" ><img src="images/2-thumb.jpg" alt="image 2 0f 3 thumb" width="89"/></a>
          </div>
          <div class="single last">
      		  <a href="images/3.jpg" rel="lightbox[nk]" title="Nankai"><img src="images/3-thumb.jpg" alt="image 3 0f 3 thumb" width="89"/></a>
          </div>
      	</div>
      </div>
  	</div>
  </div>
	
	<h3><a href="#">个人成就</a></h3>
	<div>
	  <ul>
      <li class="edu_li">学生会宣传部主席</li>
      <li class="edu_li">校文学社社长兼校刊主编</li>
      <li class="edu_li">全国优秀团支部团支书</li>
      <li class="edu_li">重庆市书法大赛一等奖</li>
    </ul>
	</div>
	
</div>

<h1 style="font-size: 2em;margin-top:20px;">初中</h1>
<div class="accordion" style="position:relative;top:-5px;">
	<h3><a href="#">概况</a></h3>
  <div>
    <div class="edu_left">
  	  <a href="http://www.cqnk.cq.cn/" target="_blank"><h2>重庆南开中学</h2></a>
  	  <ul>
        <li class="edu_li">由知名教育家张伯苓先生于1936年创办</li>
        <li class="edu_li">中国重点中学</li>
        <li class="edu_li">占地约24公顷</li>
      </ul>
  	</div>
  	<div class="edu_right">
  	  <span class="edu_year">2005 - 2008</span>
  	  <div class="imageRow">
      	<div class="set">
      	  <div class="single first">
      		  <a href="images/1.jpg" rel="lightbox[nk2]" title="Nankai"><img src="images/1-thumb.jpg" alt="image 1 0f 3 thumb" width="89"/></a>
      		</div>
          <div class="single">
      		  <a href="images/2.jpg" rel="lightbox[nk2]" title="Nankai" ><img src="images/2-thumb.jpg" alt="image 2 0f 3 thumb" width="89"/></a>
          </div>
          <div class="single last">
      		  <a href="images/3.jpg" rel="lightbox[nk2]" title="Nankai"><img src="images/3-thumb.jpg" alt="image 3 0f 3 thumb" width="89"/></a>
          </div>
      	</div>
      </div>
  	</div>
  </div>
	
	<h3><a href="#">个人成就</a></h3>
	<div>
	  <ul>
      <li class="edu_li">校书法与美术艺术特长生</li>
      <li class="edu_li">重庆市优秀学生</li>
      <li class="edu_li">班长兼团支书</li>
      <li class="edu_li">重庆市书法大赛一等奖</li>
      <li class="edu_li">全国美术比赛二等奖</li>  
    </ul>
	</div>
	
</div>

<h1 style="font-size: 2em;margin-top:20px;">小学</h1>
<div class="accordion" style="position:relative;top:-5px;">
	<h3><a href="#">概况</a></h3>
  <div>
    <div class="edu_left">
  	  <h2>重庆长安第三子弟校</h2>
  	  <ul>
        <li class="edu_li">校杰出学生</li>
        <li class="edu_li">校少先队大队长</li>
        <li class="edu_li">重庆市江北区优秀少先队员</li>
        <li class="edu_li">重庆市江北区科技竞赛第一名</li>
      </ul> 
  	</div>
  	<div class="edu_right">
  	  <span class="edu_year">1996 - 2002</span>
  	</div>
  </div>
	
</div>

