<% provide(:title, '爱好') %>
<link rel="stylesheet" type="text/css" href="js/jqcloud/jqcloud.css" />
<script type="text/javascript" src="js/jqcloud/jqcloud-1.0.0.js"></script>
    <script type="text/javascript">
      //sports cloud
      var word_array = [
          {text: "足球", weight: 10},
          {text: "游泳", weight: 9},
          {text: "羽毛球", weight: 8},
          {text: "乒乓球", weight: 8,},
          {text: "台球", weight: 7},
          {text: "电子竞技", weight: 7}
          // ...as many words as you want
      ];

      $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        try{
        	$("#cloud").jQCloud(word_array);
        }catch(e){
        	$("#ie").show();
        }
      });
    </script>

  <h1 style="font-size: 2em;margin-top:20px;">我的爱好</h1>
  <div class='round' style="background-color:whiteSmoke;padding:30px;">
      <h3>摄影</h3>
      <hr />
      <div class="imageRow">
      	<div class="set">
      	  <div class="single first">
      		  <a href="images/hb/p1.jpg" rel="lightbox[pgcn]" title="摄影"><img src="images/hb/p1-thumb.jpg" alt="image 1 0f 4 thumb" width="205"/></a>
      		</div>
          <div class="single">
      		  <a href="images/hb/p2.jpg" rel="lightbox[pgcn]" title="摄影" ><img src="images/hb/p2-thumb.jpg" alt="image 2 0f 4 thumb" width="205"/></a>
          </div>
          <div class="single">
      		  <a href="images/hb/p3.jpg" rel="lightbox[pgcn]" title="摄影"><img src="images/hb/p3-thumb.jpg" alt="image 3 0f 4 thumb" width="205"/></a>
          </div>
          <div class="single last">
      		  <a href="images/hb/p4.jpg" rel="lightbox[pgcn]" title="摄影"><img src="images/hb/p4-thumb.jpg" alt="image 4 0f 4 thumb" width="205"/></a>
          </div>
      	</div>
      </div>
      
      <h3>绘画</h3>
      <hr />
      <div class="imageRow">
      	<div class="set">
      	  <div class="single first">
      		  <a href="images/hb/h1.jpg" rel="lightbox[ptcn]" title="绘画"><img src="images/hb/h1-thumb.jpg" alt="image 1 0f 3 thumb" width="205"/></a>
      		</div>
          <div class="single">
      		  <a href="images/hb/h2.jpg" rel="lightbox[ptcn]" title="绘画" ><img src="images/hb/h2-thumb.jpg" alt="image 2 0f 3 thumb" width="205"/></a>
          </div>
          <div class="single">
      		  <a href="images/hb/h3.jpg" rel="lightbox[ptcn]" title="绘画"><img src="images/hb/h3-thumb.jpg" alt="image 3 0f 4 thumb" width="205"/></a>
          </div>
          <div class="single last">
      		  <a href="images/hb/h4.jpg" rel="lightbox[ptcn]" title="绘画"><img src="images/hb/h4-thumb.jpg" alt="image 4 0f 4 thumb" width="205"/></a>
          </div>
      	</div>
      </div>
      
      <h3>中国传统文化</h3>
      <hr />
      <div class="imageRow">
      	<div class="set">
      	  <div class="single first">
      		  <a href="images/hb/c1.jpg" rel="lightbox[cccn]" title="中国传统文化"><img src="images/hb/c1-thumb.jpg" alt="image 1 0f 4 thumb" width="205"/></a>
      		</div>
          <div class="single">
      		  <a href="images/hb/c2.jpg" rel="lightbox[cccn]" title="中国传统文化" ><img src="images/hb/c2-thumb.jpg" alt="image 2 0f 4 thumb" width="205"/></a>
          </div>
          <div class="single">
      		  <a href="images/hb/c3.jpg" rel="lightbox[cccn]" title="中国传统文化"><img src="images/hb/c3-thumb.jpg" alt="image 3 0f 4 thumb" width="205"/></a>
          </div>
          <div class="single last">
      		  <a href="images/hb/c4.jpg" rel="lightbox[cccn]" title="中国传统文化"><img src="images/hb/c4-thumb.jpg" alt="image 4 0f 4 thumb" width="205"/></a>
          </div>
      	</div>
      </div>
      
      <h3>体育</h3>
      <hr />
      <div id="cloud" style="height: 150px;">
      	<table id="ie" style="margin-top:20px;visibility:hidden;">
	    	<tr>
        		<td><span class="ui-icon ui-icon-circle-check"></span></td>
        		<td>足球</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        		<td><span class="ui-icon ui-icon-circle-check"></span></td>
        		<td>游泳</td></td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        		<td><span class="ui-icon ui-icon-circle-check"></span></td>
        		<td>羽毛球</td>
        		<td><span class="ui-icon ui-icon-circle-check"></span></td>
        		<td>乒乓球</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        		<td><span class="ui-icon ui-icon-circle-check"></span></td>
        		<td>台球</td></td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        		<td><span class="ui-icon ui-icon-circle-check"></span></td>
        		<td>电子竞技</td>
      		</tr>
      	</table>
      </div>
      
  </div>
