<% provide(:title, '工作') %>
<section class="round">
  <h1 style="font-size: 2em">工作经验</h1>
  
  <div class = "work_container round">
    <div class = "work_photo">
      <img src="images/baml.jpg" height="116px" width="190px">
    </div>
    <div class = "work_content">
        <h3>美国美林银行</h3>
        <h4 style="margin-bottom:18px;">全球大客户大金额投资银行业务技术实习生</h4>
        <p>开发原生移动银行应用. <br />所开发应用支持iOS和Android平台. <br />所开发应用即将成为同类银行第一款原生移动应用.</p>
    </div>
  </div>
  
  <div class = "work_container round">
    <div class = "work_photo">
      <img src="images/apple.jpg" height="116px" width="190px">
    </div>
    <div class = "work_content">
        <h3>苹果</h3>
        <h4 style="margin-bottom:18px;">亚太地区物流数据分析师</h4>
        <p>为公司亚太地区苹果物流供应链项目提供支持.<br />使用AppleScript编程帮助团队自动化流程.<br />出色的工作得到公司奖金奖励.</p>
    </div>
  </div>
  
  <div class = "work_container round">
    <div class = "work_photo">
      <img src="images/roadhop.jpg" height="116px" width="190px">
    </div>
    <div class = "work_content">
        <h3>Roadhop</h3>
        <h4 style="margin-bottom:18px;">Facebook应用开发与设计师</h4>
        <p>参与四人小组开发旅游经历分享与交通指南类的Facebook应用.<br />在应用策划阶段为公司提出有创造性的建议并最终实现. <br />设计并实现界面设计. 实现完成客户端开发. </p>
    </div>
  </div>
  
</section>