<% provide(:title, 'Experience') %>
<section class="round">
  <h1 style="font-size: 2em">Work Experience</h1>
  
  <div class = "work_container round">
    <div class = "work_photo">
      <img src="images/baml.jpg" height="116px" width="190px">
    </div>
    <div class = "work_content">
        <h3>Bank of America Merrill Lynch</h3>
        <h4 style="margin-bottom:18px;">Global Wholesale Banking Technology Analyst Intern</h4>
        <p>Development of a native mobile banking application. <br />The application runs on both iOS and Android platforms. <br />The application could be the first native mobile app for wholesale banking.</p>
    </div>
  </div>
  
  <div class = "work_container round">
    <div class = "work_photo">
      <img src="images/apple.jpg" height="116px" width="190px">
    </div>
    <div class = "work_content">
        <h3>Apple</h3>
        <h4 style="margin-bottom:18px;">APAC Logistics Data Analyst</h4>
        <p>Support for a supply chain network modeling project.<br />Automated several processes using AppleScript.<br />Bonus rewarded for the outstanding work done.</p>
    </div>
  </div>
  
  <div class = "work_container round">
    <div class = "work_photo">
      <img src="images/roadhop.jpg" height="116px" width="190px">
    </div>
    <div class = "work_content">
        <h3>Roadhop</h3>
        <h4 style="margin-bottom:18px;">Facebook App Developer and Designer</h4>
        <p>Developed a travel experience sharing and crowd-source transportation guide Facebook Application.<br />Contributed creative ideas to the blueprint of the app. <br />Designed and built the UI of the app. Implemented most of the client-side utilities. </p>
    </div>
  </div>
  
</section>