<footer class="footer">
  <small>
    <a href="/about_cn">谢光之出品</a>
    ©2012 XIE GUANGZHI All rights reserved. Best viewed with Chrome and Safari.
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   '/about_cn' %></li>
      <li><a href="mailto:frankxgz@gmail.com?subject=Personal_Website" target="_blank">联系我</a></li>
    </ul>
  </nav>
</footer>